<h1>Welcome!</h1>

<form action="/games" method="POST">
  <label>Player 1</label>
  <input type="text" name="player1" placeholder="Cool name here!">
  <label>Player 2</label>
  <input type="text" name="player2" placeholder="Cool name here!">
  <input type="submit" value="Start Game!">
</form>